body {
    background-color: #5f2f2f;
}

.gg {
    width: 250px;
    height: 250px;
    margin: 5px;
    padding: 5px;
    display: flex;
}

.wp1 {
    display: flex;
}

.wp2 {
    display: flex;
}

.danger {
    display: flex;
    margin: 10px;
    padding: 10px;
}

p {
    font-size: 50px;
}

.knpk {
    background-color: #aa8488;
}

.verh {
    position: fixed;
    background-color: #aa8488;
    width: 200px;
    height: 100px;
    right: 0;
    top: 0;
    font-size: 50px;
}